.lobby{
  background-color: aliceblue;
  .chatRooms{
    background-color: white;
    margin: 0;
    padding: 0;
    .room{
      display: flex;
      justify-content: space-around;
      div a{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        span{
          width: 15vw;
        }
      }
    }
  }
}